<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lorenc Shop</title>
  <link href="../../stylesheets/main.css" rel="stylesheet"/>
    <script type="text/javascript" src="../../javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../javascripts/react.js"></script>
    <script type="text/javascript" src="../../javascripts/marked.min.js"></script>
    <script type="text/javascript" src="../../javascripts/moment.js"></script>
</head>
<body>
<header>
  <nav >
    <ul class="ls-navbar">
      <li class="ls-navbar__item ls-navbar__item--home"> <a href="">home</a></li>
      <li class="ls-navbar__item ls-navbar__item--signin"> <a href="">signin </a></li>
      <li class="ls-navbar__item ls-navbar__item--about"> <a href="">about us</a></li>
    </ul>
  </nav>
</header>
    <div class="" id="viewContainer"></div>

    <script src="../../javascripts/components/Offer.js" type="text/javascript"></script>
    <script src="../../javascripts/components/OfferBox.js" type="text/javascript"></script>
    <script src="../../javascripts/components/listOfBoxes.js" type="text/javascript"></script>

</div>
</body>
</html>
