<div class="container">

  profile sub app

  <div class="ls-profileAppToobar">
    toolbar
  </div>
  <div class="ls-profileAppContent">
    <div class="row">
      <div class="col-md-2">
        <img src="" alt="" />
      </div>
      <div class="col-md-10">
        <div class="row">
            <div class="col-sm-2">
            nome
            </div>
            <div class="col-sm-2"> cognome</div>
        </div>
        <div class="row">
          <div class="col-sm-2">loremc</div>
          <div class="col-sm-2">lorem</div>

        </div>
        <div class="row">
          <div class="col-sm-2">loremc</div>
          <div class="col-sm-2">loremc</div>

        </div>

      </div>
    </div>
  </div>
</div>
