$color__primary: #b3dd43 !important;
$color__primary--light: #efface !important;
$color__primary--dark: #606A20 !important;

$base__font-size: 15px !important;

$base__line: 20 !default;

$ls-green-primary: #318817;
$ls-green-secondary: #2ded85;
$ls-white-primary: #e4d7d7;
$ls-navbar-color: #2ca6c7;

@function calc-em($target, $context: $base__font-size) {
    @return ($target / $context) * 1em;
}
