<!DOCTYPE html>
<html>
<% include ../partials/header %>
	<body>
		<div id="viewContainer"></div>
	</body>

  <script type="text/javascript" src="../../javascripts/components/Login.js"></script>
</html>
