<!DOCTYPE html>
<html>

<% include ../partials/header %>

	<body>
		<div id="viewContainer" class="view-container"></div>
		<% include ../partials/footer %>
		<script type="text/javascript" src="../../javascripts/components/Login.js"></script>
	</body>
</html>
