.ls-footer {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: $ls-white-primary;
  background-color: $ls-navbar-color;
  text-align: center;
  padding: 10px;

}
