<!DOCTYPE html>
<html>
<% include ../partials/header%>
  <body>

    <div id="viewContainer" class="view-container">
      <div class="" id="navbar">

      </div>
    </div>
    <% include ../partials/footer %>
    <script type="text/javascript" src="../../javascripts/components/Navbar.js"></script>
  </body>
</html>
