<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body>

    <div id="viewContainer" class="view-container"></div>

    <% include ../partials/footer %>

    <script type="text/javascript" src="../../javascripts/components/Offer.js"></script>
    <script type="text/javascript" src="../../javascripts/components/OfferBox.js"></script>
    <script type="text/javascript" src="../../javascripts/components/ListOfBoxes.js"></script>

  </body>
</html>
