<!DOCTYPE html>
<html>
<% include ../partials/header%>
  <body>
    <div id="viewContainer" class="view-container">
      <div id="navbar" data-conf=<%-JSON.stringify(user)%> >
      </div>
    </div>


    <% include ../partials/footer %>
    <script type="text/javascript" src="../../javascripts/components/Navbar.js"></script>
  </body>
</html>
